@import url('https://fonts.googleapis.com/css?family=Gaegu');
body {
    width: 21cm;
    height: auto;
    margin: 50px 200px 0px;
}
img {
    width: 100%;
}
.rowimg{
    width: 100%;
    height: auto;
    background-image: url('photo.jpg');
    background-size: cover;/*ให้เหมือนตัวที่มีอยู่แล้ว*/
}
.circle{ /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
    border-radius: 50%; /* ปรับเป็น 50% คือความโค้งของเส้นขอบ*/
    width: 170px;
    height: 170px;
    margin: -45px 198px 20px ;
}
.font{
    font-size: 650%; /*ขนาดตัวหนังสือ*/
    font-weight:bold; /*ตัวหนังสือเข้ม*/
    font-family: 'Gaegu', cursive;
    font-family: 'Itim', cursive;
}
.font2{
    font-size: 130%; /*ขนาดตัวหนังสือ*/
    font-weight:bold; /*ตัวหนังสือเข้ม*/
    font-family: 'Gaegu', cursive;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Indie Flower', cursive;
    
}
.font3{
    font-size: 200%; /*ขนาดตัวหนังสือ*/
    font-weight:bold; /*ตัวหนังสือเข้ม*/
    font-family: 'Gaegu', cursive;
    font-family: 'Itim', cursive;
    
}
.font4{
    font-size: 120%; /*ขนาดตัวหนังสือ*/
    font-weight:bold; /*ตัวหนังสือเข้ม*/
    font-family: 'Gaegu', cursive;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Indie Flower', cursive;
    
}
.col1{
    position:relative;/*การกำหนดคอลัม*/
    float:left;/*สั่งให้ชิดซ้าย*/
    width:50%;/*ขนาดคอลัม*/
    margin: 15px 0px 0px 5px;
}
.col2{
    position:relative; /*การกำหนดคอลัม*/
    float:right; /*สั่งให้ชิดขวา*/
    width:50%; /*ขนาดคอลัม*/ 
    margin: 15px 0px 0px 5px;
     
}